@rolemodel:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${GITHUB_PACKAGES_TOKEN}

# Motion Plus configuration
@motion-plus:registry=https://api.motion.dev/registry
//api.motion.dev/registry/:_authToken=${MOTION_PLUS_TOKEN}